.img-toggle {
    display: none;
}
.btn {
  display: block;
  margin: auto;
}
#battle-beasts {
  font-size: 40px;
}

img {
  display: block;
  margin: auto;
  height: 150px;
  border-radius: 50%;
}

h1 {
  text-align: center;
}

body {
  background-color: #638092;

}
